/* PAGE FORMAT */

body{
	width: 100%; margin: 0 auto; position: relative;}


#mypage{
	width: 980px; display: block; margin-left: auto; margin-right: auto; font-family: "American Typewriter";}

p{
	font-family: "American Typewriter";}
/* HEADER */

header{
    margin-top: 10px; height: 130px; width: 980px; overflow: hidden; }

header img {
	min-width: 100%; }

/* NAVIGATION LINKS */

nav { 
	position: relative; z-index: 0; width: 980px; height: 40px; }

nav ul { 
	margin: 0 auto; list-style: none; }

nav ul li{ 
	text-decoration: none; display: inline; float: left; padding: 5px 80px; }

nav ul li a{ 
	border-radius: 5px; color: #7C7C7C; font-family: "American Typewriter"; font-size: 16px;
	letter-spacing: -1px; text-decoration: none; }
	 
nav ul li a:hover{ 
	text-decoration: none; color: black; /* border-bottom: 3px solid; */ }


.sublist{
	display:none; }


	
.servicios:hover > ul{
	display:block; }

ul .sublist{
	max-width:30px;
	padding: 0;
	margin: 0;
	}
	
.sublist li{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px 5px 5px;
	clear: left;
	background: #cccccc;
	}


.slide{
    width: 980px; height: 450px; position: relative; overflow: hidden; }
 
.slide img{ width: 980px; position: absolute; }
 
/* CSS for arrows inside the pictures 
 * 
 * #left{
	height: 300px; width: 50px;	position: absolute;	left: 0px;	top: 0px;}

#right{
	height: 300px; width: 50px; position: absolute;	right: 0px;	top: 0px;}
	
.left{
	height: 50px; max-width: 100%; position: absolute; top: 60%; left: 0px;}

.right{
	height: 50px; max-width: 100%; position: absolute; top: 60%; right: 0px;}
 */

/* CSS for ARROWS underneath the pictures */

#left, #right{
	height: 20px; width: 490px;	position: relative; float:left; margin-top: 20px}

.left, .right{
	height: 20px; width: 20px; opacity: 0.4;}

img.right{ 
	float: right;}

/* SECTION WITH SENTENCE */

.sentence{
	width: 500px; margin: 0 auto; overflow: auto; font-size: 110%; color:#C71585; text-align: center; }


div.hr { 
	clear: both; float:left; background-repeat: no-repeat; background-image: url('../img/canvas.png'); height:1px; width:1080px; opacity: 0.4;
	margin: 30px 10px 30px -5%;}

/* SECTIONS */

article, div{
	width: 50%; overflow: hidden;  }

article.practicas, article.info{
	float:left; }

article.erasmus, #contacto{
	float:right; }

h1, h3{
	margin-top: 60px; font-size: 130%; font-weight: normal; }

h2{
	font-size: 20px; text-align: center; }

article.erasmus img, article.practicas img{
	float: left; margin: 10px 15px 0px 15px; }

#contacto img{
	filter: url("filter.svg#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   max-width:230px; max-height: 60px; margin: 0 auto; display: block;}	
   
p.texto1, p.texto2, p.texto3{
	font-size: 100%; color: #7C7C7C; }

p.texto2, h3{
	margin: 0 15px 0 15px; }
form{
	margin: 0 0 0 15px; }
	
p.texto3{
	text-align: center; }

/* CONTACT FORM */

label{
	width:80px;
	display: inline-block;}

input, textarea{
	border: 0; margin: 5px; }

input{
	width:300px;
	border-bottom: 1px #949393 dotted;}

textarea{
	width: 390px;
	background-image: -webkit-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    background-image: -moz-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    background-image: -ms-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    background-image: -o-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    background-image: linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    background-size: 100% 21px;
    line-height: 21px;
    overflow: hidden; resize: none;}

button{
	float:right; font-size: 20px; font-weight:bold; background: white; margin: 10px 0 0 0; border: 0px;}


/* FOOTER */
footer{
	clear: both; background: #eeeeee; padding: 10px; margin-bottom: 10px;}
	
footer ul { 
	margin: 0 auto; list-style: none; }

footer ul img.maps{
	max-height:15px; max-width:15px; }

footer ul li{ 
	text-decoration: none; display: inline; font-style: italic; font-size: 80%;}

footer ul li.contact{
	float:right;
	padding: 0 15px 0 0; }
	
footer ul li a{ 
	border-radius: 5px; color: #7C7C7C; font-family: "American Typewriter"; font-size: 16px;
	letter-spacing: -1px; text-decoration: none; }
	 
footer ul li a:hover{ 
	text-decoration: none; color: black; /* border-bottom: 3px solid; */ }

